<div class="container mt-5">
    <h1>All Users</h1>
    <div class="row">
        <div class="col-lg-3" *ngFor="let user of users$">
            <mat-card class="example-card">
                <img mat-card-image src="{{user.image}}" [alt]="user.name">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>