<footer class="footer" id="footer">
  <div class="container-fluid">
    <div class="row">
        <nav class="col-lg-8">
          <ul>
            <li>
              <a href="https://www.creative-tim.com"> Creative Tim </a>
            </li>
            <li>
              <a href="https://creative-tim.com/about-us"> About Us </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com"> Blog </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license"> Licenses </a>
            </li>
          </ul>
        </nav>
      <div class="copyright col-lg-3">
        &copy;
        {{ test | date: "yyyy" }}, by
        <a href="https://www.creative-tim.com" target="_blank">Plunex.INC</a>
      </div>
    </div>
  </div>
</footer>
