<div class="container">
    <div class="row">
        <div class="mt-5">
            <div class="text-right">
                <button mat-button class="btn btn-danger" [routerLink]="['/events/']">All Events</button>
                <button mat-button class="btn btn-warning mr-auto" [routerLink]="['./upcoming']">Upcoming Events</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>

